@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{color: inherit; text-decoration: none;}
html, body{font-family: '맑은 고딕', sans-serif; color: #333;}

.container{
  width: 100%; height: 900px;
  display: flex;
  flex-wrap: wrap;
}


.header{
  width: 200px; height: 800px;
}
.logo{
  width: 200px; height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  width: 180px;
  margin: 20px auto;
}
.menu>li{
  text-align: center;
  line-height: 40px;
}
.menu>li>a{
  display: block;
  background-color: #aaa;
}
.submenu a{
  display: block;
  font-size: 14px;
  background-color: #eee;
}
.submenu a:hover{
  background-color: brown;
  color: #fff;
}
.menu>li:hover>a{
  background-color: #3d1111;
  color: #fff;
}


.contents{
  width: 400px; height: 800px;
}
.con1, .con2{
  height: 325px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
}
.tab_title{
  width: 100px; height: 30px;
  border: 1px solid #000;
  border-bottom-color: #fff;
  background-color: #fff;
  position: relative;
  top: 1px;
  text-align: center;
  line-height: 30px;
}
.tab_box{
  height: 240px;
  border: 1px solid #000;
  background-color: #fff;
}
.notice{
  margin: 20px;
}
.notice>li{
  display: flex;
  justify-content: space-between;
  line-height: 290%;
}
.notice>li>a{
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notice>li>a:hover{
  font-weight: bold;
  text-decoration: underline;
}
.gallery{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.gallery>li{
  width: 160px; height: 200px;
  overflow: hidden;
}
.gallery>li>a{
  /* 블락변경 필수 */
  display: block;
  font-size: 13px;
  text-align: center;
}
.gallery>li img{
  width: 100%; height: 170px;
}
.gallery>li:hover img{
  opacity: 0.6;
}
.gallery>li:hover p{
  font-weight: bold;
  text-decoration: underline;
}
.con3{
  height: 150px;
}
.icons{
  width: 100%; height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icons>li{
  width: 15%; height: 100px;
}
.icons>li a{
  display: block;
  font-size: 13px;
  text-align: center;
}
.icons>li img{
  width: 100%; height: 60px;
}
.icons>li:hover p{
  font-weight: bold;
  text-decoration: underline;
}

.main{
  width: calc(100% - 600px); height: 800px;
  background-color: yellow;
}


.footer{
  width: 100%; height: 100px;
  display: flex;
}
.footer .logo{
  filter: grayscale();
}
.copyright{
  width: calc(100% - 450px); height: 100px;
  display: flex;
  text-align: center;
  /* flex-direction: column;/ */
  justify-content: center;
  align-items: center;
}
.familysite{
  width: 250px; height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.familysite>select{
  padding: 10px;
}


.popup_bg{
  width: 100%; height: 100%;
  background-color: #6666;
  position: fixed;
  top: 0; left: 0;
}
.popup{
  width: 400px;
  background-color: #fff;
  border: 3px solid darkgreen;
  position: fixed;
  top: 5%; left: 35%;
}
.popup>p:nth-child(1){
  text-align: center;
  font-weight: bold;
  line-height: 50px;
}
.popup>p:nth-child(2){
  font-size: 14px;
  padding: 20px;
  line-height: 200%;
}
.popup>div{
  text-align: end;
}
.close{
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: darkgreen;
  color: #fff;
  cursor: pointer;
}